<!--  <label>subreddit</label>
  <div class='slider'/> -->
<div id='sliders'></div>
<div id='new_filteritem_action'>
  <input type='text' id='subreddit'/> 
  <a id='new_filteritem' href='#'>Add</a>
</div>
