<script type='text/template' id='slider_template'>
  <label>subreddit</label>
  <div class='slider'/>
</script>
<div id='sliders'></div>
<a id='new_subreddit' value='Add'/>
<input type='text' id='subreddit_name'/> 
